@page "/Web/Account/Manage/{username}/Buckets"
@model BucketsModel

@{
    ViewData["Title"] = "버킷";
}

<h3>@ViewData["Title"]</h3>
<p>@Model.StatusMessage</p>
<div class="row">
    <div class="col-sm-8 col-md-2">
        <partial name="_NavBarPartial"/>
    </div>
    <div class="col-sm-8 col-md-6">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Owners</th>
                <th>LastUpdated</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var bucket in Model.Buckets)
            {
            <tr>
                <td><a asp-page="ViewChecksumStorageBucket" asp-route-id="@bucket.Id">@bucket.Id</a></td>
                <td>@string.Join(',', bucket.Owners)</td>
                <td>@bucket.LastUpdated</td>
                <td>
                    <form>
                        <input type="hidden" name="bucketId" value="@bucket.Id"/>
                        <input class="btn btn-primary" type="submit" name="Delete" value="권한 회수"/>
                    </form>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}