@using Humanizer
@using NeoSmart.PrettySize
@model AlphabetUpdateServer.Pages.Shared.BucketUsageModel

@{
    string readableSize(long size) => new PrettySize(size).Format(UnitBase.Base10);
    string readableDateTime(DateTimeOffset dt) => dt.Humanize();
}

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.IsReadOnly)
    </div>
    <div class="col-sm-9">
        @(Model.Limitations.IsReadOnly ? "YES" : "NO")
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.CurrentBucketSize)
    </div>
    <div class="col-sm-9">
        @readableSize(Model.CurrentBucketSize) (@Model.CurrentBucketSize.ToString("N0") bytes)
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.MaxBucketSize)
    </div>
    <div class="col-sm-9">
        @readableSize(Model.Limitations.MaxBucketSize) (@Model.Limitations.MaxBucketSize.ToString("N0") bytes)
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.CurrentMaxFileSize)
    </div>
    <div class="col-sm-9">
        @readableSize(Model.CurrentMaxFileSize) (@Model.CurrentMaxFileSize.ToString("N0") bytes)
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.MaxFileSize)
    </div>
    <div class="col-sm-9">
        @readableSize(Model.Limitations.MaxFileSize) (@Model.Limitations.MaxFileSize.ToString("N0") bytes)
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.CurrentFileCount)
    </div>
    <div class="col-sm-9">
        @Model.CurrentFileCount.ToString("N0")
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.MaxNumberOfFiles)
    </div>
    <div class="col-sm-9">
        @Model.Limitations.MaxNumberOfFiles.ToString("N0")
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.CurrentMonthlySyncCount)
    </div>
    <div class="col-sm-9">
        @(Model.CurrentMonthlySyncCount)회
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.MonthlyMaxSyncCount)
    </div>
    <div class="col-sm-9">
        @(Model.Limitations.MonthlyMaxSyncCount)회
    </div>
</div>

<div class="row mb-3">
    <div class="col-sm-3 font-weight-bold">
        @Html.DisplayNameFor(model => model.Limitations.ExpiredAt)
    </div>
    <div class="col-sm-9">
        @readableDateTime(Model.Limitations.ExpiredAt) (@Model.Limitations.ExpiredAt)
    </div>
</div>